.header{
    height:650px;
    position:relative;
    /* background-image: url('../../Images/web-dev-banner.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
