.header {
    height: 650px;
    position: relative;
    /* background-image: url('https://cdn.wallpapersafari.com/82/91/NYsQzc.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
